.account {
  width: 130px;
  min-height: 38px;
  background-color: #f16d7f;
  border: none;
  border-radius: 3px;
  // text
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  transition: 0.5s all; // $s_transition;

  &:hover {
    opacity: 0.67;
    background-color: #e1e1e1;
    color: #222224;
  }
}
