#basket
    display: flex
    position: relative
    cursor: pointer
    margin-left: auto

    img
        margin-right: 20px

#basket-inner
    width: 262px
    // min-height: 440px
    background-color: #ffffff
    border-radius: 5px
    padding: 20px 15px
    position: absolute
    top: 37px
    left: -14px
    display: none

.basket_info
    display: flex
    justify-content: space-around
    align-items: center

    img
        display: block
        width: 72px
        height: 85px

.cart_descr
    display: flex
    flex-direction: column
    align-items: flex-start

.cart_title
    font-size: 12px
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    color: #222222

.cart_price
    font-size: 12px
    line-height: normal
    font-weight: 400
    text-transform: uppercase
    color: $main_color

.cart_close
    display: block
    font-size: 16px
    line-height: normal
    text-transform: uppercase
    color: #c0c0c0
    transition: $s_transition

    &:hover
        text-decoration: none
        color: #000

.cart_total
    display: flex
    justify-content: space-between
    align-items: center

    #basket-sum, p
        font-size: 16px
        line-height: normal
        font-weight: 700
        text-transform: uppercase
        color: #222222

.cart_btn
    width: 100%
    min-height: 50px
    background-color: #ffffff
    border: 1px solid #eaeaea
    // text
    font-size: 14px
    line-height: normal
    font-weight: 700
    text-transform: uppercase
    color: #4a4a4a
    transition: $s_transition

    &:hover
        border: 1px solid #f16d7f
        color: #f16d7f

    &:not(first-child)
        margin-top: 11px

// .cart_close
//     text-decoration: none
//     font-size: 16px
//     color: #000
//     margin-left: 15px
