@media (max-width: 1200px)
	.container
		width: auto
	.promo_container
		background: url(../../assets/img//promo/men.png) no-repeat 100% 0
	.category_container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		.category_img_4
			margin-top: 0
	.goods
		.goods_container
			display: grid
			grid-template-columns: 243px 1fr
		.goods_items
			display: grid
			grid-template-columns: repeat(3, 1fr)
		// .description_container
		// 	padding: 71px 50px
	.shopping_header
		div
			&:first-child
				width: 280px
	.shipping_container
		flex-wrap: wrap
	.shipping_result
		width: 100%
		padding: 43px
		display: flex
		flex-direction: column
		align-items: center
		margin-top: 20px
	.women_container
		display: block
	.women_img
		width: auto
		padding: 20px
		background-image: none
		.women_content
			text-align: center
	.right_block
		width: 100% !important
		display: grid
		gap: 15px
		grid-template-columns: repeat(auto-fit, 222px)
		justify-content: space-around
		align-items: center
		padding: 48px 20px !important
		.conditions_title
			display: grid
			grid-gap: 20px
			justify-content: center
		.conditions_text
			p
				margin: 17px 0 !important
		.conditions_logo
			margin: 0 auto !important
		.percent, .crown
			@extend .conditions_logo
	.feedback
		display: flex
		flex-wrap: wrap
		justify-content: center
	.feedback_text
		margin-top: 20px
	.beach
		.subscribe_input
			width: 100%
			border-radius: 23px
		.subscribe_btn
			width: 100%
			border-radius: 23px
			text-align: center

@media (max-width: 991px)
	.container
		width: auto
		margin: auto
		.top_content
			align-items: flex-end
		.form_header
			.header_input
				width: 180px
		.promo_title
			font-size: 40px
		.promo_subtitle
			font-size: 30px
			span
				font-size: 30px
	.goods
		.goods_container
			display: grid
			grid-template-columns: 200px 1fr
		.goods_items
			display: grid
			grid-template-columns: repeat(2, 1fr)
	.reasons_container
		display: grid
		grid-template-columns: repeat(3, 1fr)
		gap: 30px
		.reasons_blocks
			width: 100%
	.shopping_header
		display: none
	.shopping
		.products_content
			.products_details-grid
				display: grid
				grid-template-columns: repeat(5, auto)
				gap: 0
				.products_details
					padding: 0
					margin-top: 10px
					display: flex
					height: 9vh
					flex-direction: column
					justify-content: space-between
					align-items: center
					.details_label
						display: block
	.shipping_container
		flex-wrap: wrap
		flex-direction: column
		align-items: center
	.shipping_address
		width: 100%
		.country
			width: 100%
	.shipping_discount
		width: 100%
		margin-top: 20px
		.country
			width: 100%
	.dropdown_list
		.dropdown_login
			.login_form
				input
					width: 100%
	.beach
		.line
			display: none
		.subscribe
			form
				display: flex
				flex-direction: column
				.subscribe_input
					width: 100%
					border-radius: 23px
				.subscribe_btn
					border-radius: 23px
					text-align: center
	.footer
		.footer_blocks
			display: flex
			flex-direction: column
			.footer_column
				display: flex
				float: right
			.footer_column_block
				display: flex
				justify-content: center
				align-items: center
				.footer_text
					width: auto
					text-align: center
			.footer_columns_group
				margin-top: 30px
				width: auto

@media (max-width: 767px)
	.container
		width: auto
		margin: auto
		.product_list
			justify-content: center
		.top_content
			flex-wrap: wrap
			display: flex
			flex-direction: column
			align-items: center
			.logo
				width: 100%
				display: flex
				align-items: center
				justify-content: center
			#basket
				margin-top: 20px
				width: 100%
				justify-content: center
				img
					// display: none
				.account
					text-align: center
	.goods
		.goods_container
			display: grid
			grid-template-columns: 1fr
		.goods_items
			display: grid
			grid-template-columns: repeat(2, 1fr)
		.my_form
			margin-top: 20px
	.shopping
		.products_content
			display: block
			.products_specifications
				width: 100%
			.products_details-grid
				display: grid
				grid-template-columns: repeat(5, auto)
				justify-content: space-between
				.products_details
					padding: 0
					margin-top: 10px
					display: flex
					height: 9vh
					flex-direction: column
					justify-content: space-between
					align-items: center
					.details_label
						display: block
	.reasons_container
		display: grid
		grid-template-columns: repeat(2, 1fr)
		align-items: center
		gap: 30px
		padding: 30px 0
		.reasons_blocks
			width: 100%
	.dropdown_blocks
		display: block
	.dropdown_registration
		width: 100%
		padding-left: 0
	.line_adaptive
		width: 100%
		height: 3px
		margin: 30px 0
		background-color: $main_color
	.dropdown_login
		margin-top: 30px
		width: 100%
		padding-left: 0
	.description_container
		// .description_line
		// 	width: 100%
		
		// .add_to_cart
		// 	width: 100%
	.beach_content
		display: flex
		flex-direction: column
		align-items: center
		.feedback
			width: 100%
			flex-direction: column
			align-items: center
			padding: 30px
			min-height: auto
			.feedback_text
				width: auto
				text-align: center
		.line
			display: block
			width: 100%
			background-color: #ffffff
			min-height: 1px
		.subscribe
			width: auto
			padding: 30px
			min-height: inherit
	.footer_column
		display: flex
		align-items: center

@media (max-width: 575px)
	.container
		padding: 0 20px
	
		.logo
			flex-direction: column
			display: flex
			align-items: center
		.logo_text
			width: 100px
		.footer_column
			align-items: center
	.goods
		.goods_items
			display: grid
			grid-template-columns: 268px
			justify-content: center
	.reasons_container
		padding: 20px
	.category
		display: none

@media (max-width: 550px)
	.top_content
		.logo
			display: flex
			flex-direction: column
			&_text
				span
					margin-right: 0
		.form_header
			margin-top: 10px

@media (max-width: 520px)
	.shopping_btn
		button
			width: 100%
			&:not(:first-child)
				margin-top: 20px

@media (max-width: 500px)
	.arrivals_container
		flex-direction: column
		display: flex
		align-items: center
		justify-content: center
	.reasons_container
		display: grid
		grid-template-columns: 215px
		justify-content: center
	.footer_container
		flex-direction: column-reverse
		padding-top: 10px

@media (max-width: 450px)
	.size
		margin-top: 20px
	.view
		margin-top: 20px
	.shopping
		.products_content
			.products_details-grid
				display: grid
				grid-template-columns: repeat(3, auto)
				row-gap: 10px
	.footer_columns_group
		display: none

@media (max-width: 423px)
	.slider
		margin-top: 15px

@media (max-width: 320px)
	.form_header
		width: 100%
